site_name: ThanoSQL
site_description: AI개발이 가능한 세상의 모든 비정형 데이터를 SQL로
site_url: https://docs.thanosql.ai/
site_author: Smartmind Team

theme:
  name: material
  logo: assets/images/docs_logo.png
  favicon: assets/images/favicon.png
  custom_dir: overrides
  features:
    - navigation.expand # Default dropdown to expand
    - navigation.instant # Instant loading
    - navigation.sections # At sidebar top-level section name with bold & not dropdown menu
    - navigation.tabs # Make top-level sections
    - navigation.tabs.sticky # Make top-level sections always visible
    - navigation.top # Enable back to top button
    - navigation.tracking # Enable the URL automatically updated with the active anchor as highlighted in the toc
    - search.highlight # Highlight all search result
    - search.suggest # Display the likeliest completion for the last word

plugins:
  - search # Built-in search plugin
  # Multiple language versions
  - i18n:
      default_language: ko
      docs_structure: folder
      languages:
        ko: 한국어
        en: English
      nav_translations: # manage directory names
        ko:
          Getting started: 시작하기
          Tutorials: 사용해보기
          Image search: Query 무작정 따라하기
          Thanosql ml: ML 무작정 따라하기
          Classification: 분류 모델 만들기
          Regression: 회귀 모델 만들기
          Audio recognition: 음성 인식 모델 만들기
          How to guides: 안내 가이드
          ThanoSQL query: ThanoSQL Query 다루기
          ThanoSQL ml: ThanoSQL ML 다루기
          ThanoSQL connecting: ThanoSQL REST API 다루기
          Thanosql api: REST API 사용하기
          FAQ: 자주 묻는 질문
        en:
          Getting started: Getting Started
          Tutorials: Tutorials
          How to guides: Guides
          FAQ: FAQ
  - awesome-pages: # Omits nav and control over page
      strict: false # For ipynb tutorial folder
  # Adding the date of last update
  - git-revision-date-localized:
      type: iso_date # Format yyyy-mm-dd
  - mkdocs-jupyter:
      include_source: True # Enable download ipynb files

# Extensions
markdown_extensions:
  - admonition
  - attr_list
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.emoji
  - pymdownx.highlight
  - pymdownx.pathconverter
  - pymdownx.progressbar
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true

# Git info
repo_name: smartmind-team/thanosql-docs
repo_url: https://github.com/smartmind-team/thanosql-docs
edit_uri: ""

extra:
  # Google Analytics
  analytics:
    provider: google
    property: G-8KVG4NMMFK
  generator: false # Hide "Made with Material for Mkdocs"

extra_css:
  - /assets/css/extra.css # For grid sections

copyright: "D-201, 39, Maeheon-ro 8-gil, Seocho-gu, Seoul 06770 South Korea<br />Email : contact@smartmind.team<br />Phone : (+82) 070-7151-9357<br /><br />© Since 2018 SmartMind, Inc. All Rights Reserved."